<h2> Refuel a vehicle</h2>
<div class="row">
    <label for="amount paid">Amount paid for fuel</label>
    <input type="number" name="amount">
</div>
<div class="row">
    <label for="liters">How many liters were bought</label>
    <input type="number" name="liters">
</div>
<div class="row">
    <label for="distance travelled">Distance travelled</label>
    <input type="number" name="distance">
</div>
<div class="row">
    <label for="filled up">Is it filled up?</label>
    <select name="filled_up">
        <option selected disabled>Select an option</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>
<div class="row">
    <label for="amount paid">Amount paid for fuel</label>
    <input type="number" name="amount">
</div>